<footer>
    <p>&copy; Centro Cultural Diana 2024 Todos los derechos reservados</p>
</footer>

<style>
    footer {
        background-color: #333;
        color: #fff;
        text-align: center;
        padding: 20px;
        width: 100%;
    }
</style>
